.homepage-products {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $background-color-light;

  h2 {
    margin: 0 0 30px;
    font-size: 32px;
    font-weight: 700;
  }

  .product {
    @extend %column;
    @extend %col-sm-4;
    @extend %product;
    margin-bottom: 30px;

    @media screen and (max-width: $screen-xs-max) {
      margin-bottom: 15px;
    }
  }
}