$primary-color: rgba(255, 68, 0, 1);
$secondary-color: rgba(112,93,86, 1);

$text-color: rgba(51,51,51, 1);

$background-primary-color: rgba(239,237,242, 1);
$background-secondary-color: rgba(213,226,226, 1);

