.header-primary {
  position: absolute;
  width: 100%;
  height: 80px;
  top: 0;
  z-index: 999;

  .logo {
    width: 173px;
    height: 80px;
    a {
      display: block;
      padding: 26px 30px;
    }
  }

  ul {
    margin: 0;
  }

  .navigation {
    position: absolute;
    top: 28px;
    right: 15px;
    li {
      display: inline-block;
      margin: 0 15px;
    }
    a {
      font-size: 18px;
      font-weight: 700;
      color: $text-color;
      &.active, &:hover, &:focus{
        color: $primary-color;
      }
    }
    @media screen and (max-width: $screen-xs-max){
      display: none;
    }
  }
  .nav-button{
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    height: 80px;

    img {
      width: 80px;
      height: 80px;
    }
    .open {
      display: block;
    }
    .close {
      display: none;
    }
    &.active {
      .open {
        display: none;
      }
      .close {
        display: block;
      }
    }
  }
  @media screen and (max-width: $screen-xs-max) {
    .navigation {
      display: none;
      width: 100%;
      height: auto;
      top: 80px;
      right: 0;
      background: #fff;
      border-top: 1px solid $background-primary-color;
      li {
        display: block;
        margin: 30px 0;
      }

      &.open {
        height: calc(100vh - 80px);
        display: block
      }
    }

    .nav-button {
      display: block;
    }
  }
}