%product {
  color: $text-color;
  margin-bottom: 30px;

  &:hover, &:focus {
    a {
      box-shadow: 0 10px 15px rgba(0, 0, 0, 0.10);
      text-decoration: none;
    }
  }

  a {
    display: block;
    color: $text-color;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    transition: box-shadow 400ms ease-in-out;
  }


  img {
    @extend %img-responsive;
  }

  .product-image, .product-content {
    background-color: #fff;
  }

  .product-content {
    padding: 10px 30px;
  }

  .title, .price {
    display: inline-block;
  }

  .price p {
    font-size: 24px;
    font-weight: 700;
  }

  .price {
    float: right;
    font-size: 24px;
    color: $primary-color;
  }

  h3 {
    margin: 0;
  }

  @media screen and (max-width: $screen-xs-max) {
    margin-bottom: 15px;
  }
}