.product-detail{
  position: relative;
  padding-top: 80px;
  width: calc(100vw - (100vw - 100%));
  height: calc(100vh - 80px);

  .image{
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $background-secondary-color;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat
  }

  .content {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 50%;
  }

  .meta, .body {
    padding: 60px;
  }

  .body {
    padding-bottom: 15px;
    p {
      margin-bottom: 15px;
    }
  }
  .meta {
    background-color: $background-primary-color;
    
    h1 {
      margin-top: 0;
    }
  }

  .price, .weight {
    display: inline-block;
    font-weight: bold;
    font-size: 24px;
  }

  .price {
    margin-left: 30px;
    color: $primary-color;
  }

  @media screen and (max-width: $screen-md-max){
    .image {
      width: 40%;
    }

    .content {
      width: 60%;
      left: 40%;
    }
  }

  @media screen and (max-width: $screen-sm-max){
    width: 100%;
    height: auto;
    padding: 0;
    .image {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 56.25%;
    }

    .content {
      position: relative;
      width: 100%;
      height: auto;
      left: auto;
    }
  }
  @media screen and (max-width: $screen-sm-max){
    .meta, .body {
      padding: 15px;
    }
  }
}