.products {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $background-color-light;

  h2 {
    margin: 0 0 30px;
  }

  .product {
    @extend %column;
    @extend %col-sm-4;
    @extend %product;
  }

  @media screen and (max-width: $screen-xs-max) {
    padding-top: 15px;
    padding-bottom: 15px;

    h2 {
      margin: 0 0 15px;
    }
  }
}