%product {
  color: $text-color;

  img {
    @extend %img-responsive;
  }

  .product-image, .product-content {
    background-color: #fff;
  }

  .product-content {
    padding: 10px 30px;
  }

  .title, .price {
    display: inline-block;
  }

  .price p, h3 {
    font-size: 24px;
    font-weight: 700;
  }

  .price {
    float: right;
    font-size: 24px;
    color: $primary-color;
  }

  h3 {
    margin: 0;
  }
}