---
title: Home - Middleman + Netlify CMS Example
---
<section class="hero-homepage">
  <h1>Welcome</h1>
</section>

<section class="posts">
  <h1>News</h1>
  <% blog.articles.each do |article| %>
    <article class="post">
      <h1><%= article.title %></h1>
    </article>
  <%end%>
</section>