---
title: Welcome to Middleman
---
<h1>
  Middleman is Running
</h1>

<%= link_to(
  "Read Documentation",
  "https://middlemanapp.com/basics/templating_language/",
  target: "_blank"
) %>

<section class="posts">
  <% blog.articles.each do |article| %>
    <article class="post">
      <h1><%= article.title %></h1>
    </article>
  <%end%>
</section>